{% extends "layout.html" %} {% block content %}
<h2>Welcome to Culture Connect</h2>
            <p>At Culture Connect, our mission is to support and celebrate the incredible talents of local artisans and creators. We believe in the power of handmade goods to tell unique stories and bring unparalleled quality to our lives.</p>
            <p>Our platform is dedicated to providing a space where artisans can showcase their crafts, connect with customers, and grow their businesses. We offer a diverse range of handmade products, from beautiful jewelry to handcrafted home decor, each with its own special story.</p>
            <h4>Product Listings</h4>
            <p>View comprehensive listings of products and purchase unique, handcrafted items directly from the creators, where each item is showcased with detailed descriptions, high-quality images, and pricing information.</p>
            
        </section>
    </div>

    <footer>
        <h4 class="footer-title">Contact Us</h4>
        <div class="contact-info">
            <p>Email: cultureconnect@gmail.com</p>
            <p>Phone No: 022 2785496</p>
        </div>
        <div class="footer-right">
            <p>&copy; 2024 Culture Connect. All rights reserved.</p>
        </div>
    </footer>
{% endblock content %}